doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/lib/uikit/css/uikit.almost-flat.min.css')
        link(rel='stylesheet', href='/css/app.css')
        script(src='/lib/jquery.js')
        script(src='/lib/uikit/js/uikit.min.js')

        // Favicon stuff
        link(rel='icon', type='image/png', href='/favicon.ico', sizes='32x32')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='msapplication-TileImage', content='/mstile-144x144.png')

    body
        div.uk-grid
            div.uk-width-1-1
                div.uk-grid
                    div.uk-width-1-4
                        img(src='/img/#{logo}', style='max-height:180px;')
                    div.uk-width-2-4
                        // bigimagelogo
                        h1.uk-text-center #{title}<br/>#{slogan}
                    div.uk-width-1-4
                        img.flip.uk-float-right(src='/img/#{logo}', style='max-height:180px;')
            div.uk-width-1-1
                nav.uk-navbar
                    ul.uk-navbar-nav.uk-navbar-center
                        li: a(href='http://www.twitch.tv/#{title}'): img(src='/img/twitch.png', alt='Stream')
                        li: a(href='/') Home
                        li: a(href='/ladder') Ladder
                        li: a(href='/stats') Chat Stats
                        li: a(href='/fanart') Fan Art
                        li: a(href='http://www.twitter.com/#{twitter}'): img(src='/img/twitter.png', alt='Twitter')
            div.uk-width-1-1
                div.uk-container.uk-container-center
                    block content
            div.uk-width-1-1
                footer.uk-text-center
                    br
                    span.tag Visit the #{ucfirst(currency)} Lord @ 
                    a(href='http://www.twitch.tv/#{title}') #{title} 
                    br
                    span.copyright &nbsp;&copy; DotaNoobs & #{title}. All rights reserved.

        block postscript

    script.
        $(document).ready(function() {
            $('span.copyright').prepend(new Date().getFullYear());
        });
    script.
        window._idl = {};
        _idl.variant = "modal";
        (function() {
            var idl = document.createElement('script');
            idl.type = 'text/javascript';
            idl.async = true;
            idl.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'modal');
            document.getElementsByTagName('body')[0].appendChild(idl);
        })();
